@model GioHanglt.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÊM MỚI SẢN PHẨM</h2>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table-bordered">
        <tr>
            <td> @Html.LabelFor(model => model.NamePro)</td>
            <td> @Html.EditorFor(model => model.NamePro)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Price)</td>
            <td>@Html.EditorFor(model => model.Price)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Category)</td>

            <td>
                @{Html.RenderAction("action_name", "controller_name");
                }
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.DecriptionPro)</td>
            <td>@Html.EditorFor(model => model.DecriptionPro) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Image_Pro)</td>
            <td>
                <img src="@Url.Content (Model. Image_Pro)" height="150" width="150" id="previewIng" />
            </td>
        </tr>
        <tr>
        <tr>
            <td colspan="2">
                <input type="file" name="UploadImage" onchange="ChangeImage(this, document.getElementById('previewing'))" />
                <input type="submit" value="Tạo mới" />

            </td>

        </tr>

    </table>

}